@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
body{
    margin: 0;
}
header{
    background-color: #2D1B0C;
    position: sticky;
    top: 0;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size:x-large;
    font-style: normal;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    -3px 0px 0 #000,
    3px 0px 0 #000,
    0px -3px 0 #000,
    0px 3px 0 #000;
}
.ahead{
    color: #DEB168;
    text-decoration: none;

}
.header-list{
    color: #DEB168;
    display: grid;
    background-image: url(/front/css/Fotos/fogo.png);
}
table{
    border-color:black;
    border-spacing: 0;
}
main{
    display: grid;
}
.true-main{
    background-image: url(/front/css/Fotos/fundo.png);
    background-repeat: repeat-y;
    background-size: cover;
}
footer{
    background-image: url(/front/css/Fotos/rodapé.png);
    display: grid;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    color: #F9D5A8;
}
.painel{
    background-image: url(/front/css/Fotos/carneheader.png);
    height: 700px;
    width: 100%; 
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 55%;
}
#footerdiv{
    background-image: url(/front/css/Fotos/rodapé.png);
    display: flex;
    font-family: "Inknut Antiqua", serif;
    flex-direction: column; /* Empilha o conteúdo */
    font-weight: 400;
    font-style: normal;
    color: #F9D5A8;
    width: 100%;
    padding: 3rem 3.5rem;
    background-size: cover;
    position: relative;
    margin: 0;
    
}
.icones{
    width: 50px;
    height: 50px;
}
#icones-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    flex-wrap: wrap; /* Permite que quebrem linha se necessário */
    gap: 10px; /* Espaçamento entre os ícones (opcional) */
    width: 100%;
    margin-top: 2rem;
    padding-top: 1rem;
}
#localiza-contato-horario{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    flex-wrap: wrap; /* Permite que quebrem linha se necessário */
    width: 100%;
    margin: 0;
}
p {
    margin: 0;
}
#jacinto_logo{
    width: 210px;
    height: 210px;
}
#jacintodiv{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    flex-wrap: wrap; /* Permite que quebrem linha se necessário */
    width: 100%;
    margin: 0;
}