body{
    margin: 0;
}
header{
    background-color: #2D1B0C;
}
.header-list{
    color: #DEB168;
    display: grid;
    background-image: url(/front/css/Fotos/fogo.png);
}
table{
    border-color:black;
    border-spacing: 0;
}
.true-main{
    background-image: url(/front/css/Fotos/fundo.png);
}
footer{
    background-image: url(/front/css/Fotos/rodapé.png);
    display: grid;
}
.painel{
    height: 50px;
    width: 50px; 
    display: flex;
    max-width: 100%;
}